<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />

    <!-- Styles -->
    <!-- font -->
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- fancybox -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
    />
    <!-- Filepond stylesheet -->
    <link
      href="https://unpkg.com/filepond/dist/filepond.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
      rel="stylesheet"
    />
    <!-- custom -->
    <link
      rel="stylesheet"
      href="../../assets/css/styles.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/css/responsiveness.css"
    />

    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="../../public/favicon.ico"
      type="image/x-icon"
    />
    <!-- title -->
    <title>Galeri Kegiatan Warga 1 | Warga Site</title>
  </head>
  <body>
    <div>
      <!-- navigation -->
      <nav
        class="navbar navbar-expand-lg bg-white fixed-top navbar-container navbar-shadow"
      >
        <div class="container-fluid flex-nowrap">
          <!-- brand -->
          <a
            class="navbar-brand fw-bold"
            href="../../index.html"
            ><img
              src="../../assets/svg/warga-letter-logo.svg"
              alt="warga-letter-icon"
          /></a>
          <!-- toggle mobile navbar -->
          <div class="toggle-nav-mobile">
            <button
              class="btn-nav-toggle"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasTop"
              aria-controls="offcanvasTop"
            >
              <i
                class="fa-solid fa-bars"
                style="font-size: 1.25rem"
              ></i>
            </button>
          </div>
          <!-- link -->
          <div
            class="collapse navbar-collapse navbar-collapsing"
            id="navbarSupportedContent"
          >
            <!-- left -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item nav-items dropdown nav-item-dropdown">
                <a
                  class="nav-link navbar-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Warga
                </a>
                <ul class="dropdown-menu nav-dropdown-menu shadow">
                  <li>
                    <a
                      class="dropdown-item nav-dropdown-item"
                      href="../administration/administration.html"
                      ><span><i class="fa-regular fa-folder-open"></i></span
                      >Administrasi</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item nav-dropdown-item"
                      href="../report/report.html"
                      ><span><i class="fa-solid fa-bullhorn"></i></span
                      >Pelaporan</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item nav-dropdown-item"
                      href="../family/family.html"
                      ><span
                        ><i class="fa-solid fa-house-chimney-window"></i></span
                      >Menu keluarga</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item nav-items">
                <a
                  class="nav-link navbar-link active"
                  href="./gallery.html"
                  >Galeri</a
                >
              </li>
              <li class="nav-item nav-items">
                <a
                  class="nav-link navbar-link"
                  href="../news/news.html"
                  >Pengumuman</a
                >
              </li>
            </ul>
            <!-- right -->
            <a
              class="btn btn-main-outline-sm w-full-xl"
              role="button"
              href="../auth/signin.html"
              >Masuk</a
            >
          </div>
        </div>
      </nav>
      <!-- end of navigation -->
      <!-- header -->
      <header class="container">
        <div class="header-container-back mb-0">
          <button
            class="btn btn-main-outline-xs"
            type="button"
            onclick="goBack()"
          >
            <i class="fa-solid fa-arrow-left me-2"></i>Kembali
          </button>
        </div>
        <div class="header-container-mini mt-5 pt-0">
          <p class="mb-3">
            <span class="badge badge-done">Kategori 1</span>
          </p>
          <h1 class="mb-3 text-center">Galeri Kegiatan Warga 1</h1>
          <p class="text-basic text-center mb-0 max-w-80">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
            iusto architecto sint ipsam, labore quo dolore quis voluptate id
            alias, impedit quia! Illum, consequatur quae quo at dolore
            repellendus ipsa.
          </p>
        </div>
      </header>
      <!-- end of header -->
      <!-- main -->
      <main>
        <section class="container container-space">
          <!-- only large view -->
          <div class="gallery-view-container-lg">
            <figure
              data-fancybox="gallery-large"
              data-src="../../assets/img/image-1.jpg"
              class="gallery-view-item__warp"
            >
              <img
                src="../../assets/img/image-1.jpg"
                alt="gallery-view-1"
                class="gallery-view-item"
              />
              <figcaption class="d-none">
                <p class="mb-2 text-sm">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                  pariatur officiis consequatur et odio quas laborum.
                </p>
                <p class="text-xs mb-2 fst-italic text-gray-200">
                  Iwan Suryaningrat - 13 Januari 2023
                </p>
              </figcaption>
            </figure>
            <figure
              data-fancybox="gallery-large"
              data-src="../../assets/img/image-11.jpg"
              class="gallery-view-item__warp"
            >
              <img
                src="../../assets/img/image-11.jpg"
                alt="gallery-view-11"
                class="gallery-view-item"
              />
              <figcaption class="d-none">
                <p class="mb-2 text-sm">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                  pariatur officiis consequatur et odio quas laborum.
                </p>
                <p class="text-xs mb-2 fst-italic text-gray-200">
                  Iwan Suryaningrat - 13 Januari 2023
                </p>
              </figcaption>
            </figure>
            <figure
              data-fancybox="gallery-large"
              data-src="../../assets/img/image-2.jpg"
              class="gallery-view-item__warp"
            >
              <img
                src="../../assets/img/image-2.jpg"
                alt="gallery-view-2"
                class="gallery-view-item"
              />
              <figcaption class="d-none">
                <p class="mb-2 text-sm">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                  pariatur officiis consequatur et odio quas laborum.
                </p>
                <p class="text-xs mb-2 fst-italic text-gray-200">
                  Iwan Suryaningrat - 13 Januari 2023
                </p>
              </figcaption>
            </figure>
            <figure
              data-fancybox="gallery-large"
              data-src="../../assets/img/image-3.jpg"
              class="gallery-view-item__warp"
            >
              <img
                src="../../assets/img/image-3.jpg"
                alt="gallery-view-3"
                class="gallery-view-item"
              />
              <figcaption class="d-none">
                <p class="mb-2 text-sm">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                  pariatur officiis consequatur et odio quas laborum.
                </p>
                <p class="text-xs mb-2 fst-italic text-gray-200">
                  Iwan Suryaningrat - 13 Januari 2023
                </p>
              </figcaption>
            </figure>
            <figure
              data-fancybox="gallery-large"
              data-src="../../assets/img/image-5.jpg"
              class="gallery-view-item__warp"
            >
              <img
                src="../../assets/img/image-5.jpg"
                alt="gallery-view-5"
                class="gallery-view-item"
              />
              <figcaption class="d-none">
                <p class="mb-2 text-sm">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                  pariatur officiis consequatur et odio quas laborum.
                </p>
                <p class="text-xs mb-2 fst-italic text-gray-200">
                  Iwan Suryaningrat - 13 Januari 2023
                </p>
              </figcaption>
            </figure>
            <figure
              data-fancybox="gallery-large"
              data-src="../../assets/img/image-13.jpg"
              class="gallery-view-item__warp"
            >
              <img
                src="../../assets/img/image-13.jpg"
                alt="gallery-view-13"
                class="gallery-view-item"
              />
              <figcaption class="d-none">
                <p class="mb-2 text-sm">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                  pariatur officiis consequatur et odio quas laborum.
                </p>
                <p class="text-xs mb-2 fst-italic text-gray-200">
                  Iwan Suryaningrat - 13 Januari 2023
                </p>
              </figcaption>
            </figure>
            <figure
              data-fancybox="gallery-large"
              data-src="../../assets/img/image-14.jpg"
              class="gallery-view-item__warp"
            >
              <img
                src="../../assets/img/image-14.jpg"
                alt="gallery-view-14"
                class="gallery-view-item"
              />
              <figcaption class="d-none">
                <p class="mb-2 text-sm">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                  pariatur officiis consequatur et odio quas laborum.
                </p>
                <p class="text-xs mb-2 fst-italic text-gray-200">
                  Iwan Suryaningrat - 13 Januari 2023
                </p>
              </figcaption>
            </figure>
            <figure
              data-fancybox="gallery-large"
              data-src="../../assets/img/image-8.jpg"
              class="gallery-view-item__warp"
            >
              <img
                src="../../assets/img/image-8.jpg"
                alt="gallery-view-8"
                class="gallery-view-item"
              />
              <figcaption class="d-none">
                <p class="mb-2 text-sm">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                  pariatur officiis consequatur et odio quas laborum.
                </p>
                <p class="text-xs mb-2 fst-italic text-gray-200">
                  Iwan Suryaningrat - 13 Januari 2023
                </p>
              </figcaption>
            </figure>
            <figure
              data-fancybox="gallery-large"
              data-src="../../assets/img/image-15.jpg"
              class="gallery-view-item__warp"
            >
              <img
                src="../../assets/img/image-15.jpg"
                alt="gallery-view-15"
                class="gallery-view-item"
              />
              <figcaption class="d-none">
                <p class="mb-2 text-sm">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                  pariatur officiis consequatur et odio quas laborum.
                </p>
                <p class="text-xs mb-2 fst-italic text-gray-200">
                  Iwan Suryaningrat - 13 Januari 2023
                </p>
              </figcaption>
            </figure>
            <figure
              data-fancybox="gallery-large"
              data-src="../../assets/img/image-9.png"
              class="gallery-view-item__warp"
            >
              <img
                src="../../assets/img/image-9.png"
                alt="gallery-view-9"
                class="gallery-view-item"
              />
              <figcaption class="d-none">
                <p class="mb-2 text-sm">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                  pariatur officiis consequatur et odio quas laborum.
                </p>
                <p class="text-xs mb-2 fst-italic text-gray-200">
                  Iwan Suryaningrat - 13 Januari 2023
                </p>
              </figcaption>
            </figure>
            <figure
              data-fancybox="gallery-large"
              data-src="../../assets/img/image-16.jpg"
              class="gallery-view-item__warp"
            >
              <img
                src="../../assets/img/image-16.jpg"
                alt="gallery-view-16"
                class="gallery-view-item"
              />
              <figcaption class="d-none">
                <p class="mb-2 text-sm">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                  pariatur officiis consequatur et odio quas laborum.
                </p>
                <p class="text-xs mb-2 fst-italic text-gray-200">
                  Iwan Suryaningrat - 13 Januari 2023
                </p>
              </figcaption>
            </figure>
            <figure
              data-fancybox="gallery-large"
              data-src="../../assets/img/image-10.jpg"
              class="gallery-view-item__warp"
            >
              <img
                src="../../assets/img/image-10.jpg"
                alt="gallery-view-10"
                class="gallery-view-item"
              />
              <figcaption class="d-none">
                <p class="mb-2 text-sm">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                  pariatur officiis consequatur et odio quas laborum.
                </p>
                <p class="text-xs mb-2 fst-italic text-gray-200">
                  Iwan Suryaningrat - 13 Januari 2023
                </p>
              </figcaption>
            </figure>
            <figure
              data-fancybox="gallery-large"
              data-src="../../assets/img/image-12.jpg"
              class="gallery-view-item__warp"
            >
              <img
                src="../../assets/img/image-12.jpg"
                alt="gallery-view-12"
                class="gallery-view-item"
              />
              <figcaption class="d-none">
                <p class="mb-2 text-sm">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                  pariatur officiis consequatur et odio quas laborum.
                </p>
                <p class="text-xs mb-2 fst-italic text-gray-200">
                  Iwan Suryaningrat - 13 Januari 2023
                </p>
              </figcaption>
            </figure>
            <figure
              data-fancybox="gallery-large"
              data-src="../../assets/img/image-4.jpg"
              class="gallery-view-item__warp"
            >
              <img
                src="../../assets/img/image-4.jpg"
                alt="gallery-view-4"
                class="gallery-view-item"
              />
              <figcaption class="d-none">
                <p class="mb-2 text-sm">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                  pariatur officiis consequatur et odio quas laborum.
                </p>
                <p class="text-xs mb-2 fst-italic text-gray-200">
                  Iwan Suryaningrat - 13 Januari 2023
                </p>
              </figcaption>
            </figure>
          </div>
        </section>
      </main>
      <!-- end of main -->
      <!-- footer -->
      <footer class="big-footer">
        <section class="container">
          <div class="row footer-container-top">
            <!-- left -->
            <div class="col-md-4">
              <div class="footer-top__left">
                <a
                  href="../../index.html"
                  class="footer-logo-link"
                >
                  <figure class="footer-logo-wrapper">
                    <img
                      src="../../assets/svg/warga-letter-logo.svg"
                      alt="warga-letter-icon"
                    />
                  </figure>
                </a>
                <p class="text-basic">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. In
                  assumenda.<br />
                  Jl. Raya Kebayoran Lama Bl A-5/194, DKI Jakarta, Kota Jakarta
                  12240
                </p>
                <button
                  class="btn btn-main"
                  type="button"
                >
                  Kontak Kami
                </button>
              </div>
            </div>
            <!-- right -->
            <div class="col-md-8">
              <div class="footer-menu-link">
                <div class="footer-menu-wrapper">
                  <ul class="ps-0 ps-md-5">
                    <li class="footer-menu__header">Warga</li>
                    <li><a href="../news/news.html">Pengumuman</a></li>
                    <li><a href="./gallery.html">Galeri</a></li>
                  </ul>
                </div>
                <div class="footer-menu-wrapper">
                  <ul class="ps-0 ps-md-5">
                    <li class="footer-menu__header">Layanan</li>
                    <li>
                      <a href="../administration/administration.html"
                        >Pengajuan Administrasi</a
                      >
                    </li>
                    <li><a href="../report/report.html">Pelaporan</a></li>
                    <li>
                      <a href="../family/family.html">Menu Keluarga</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <hr class="" />
          <div class="footer-floor">
            <p>
              @<span id="yearNow"></span> Warga | Warga neque consequatur nemo
              fugit voluptatem mollitia minima tempore.
            </p>
            <div class="footer-social-media">
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
          </div>
        </section>
      </footer>
      <!-- end of footer -->

      <!-- scroll to top button -->
      <div id="scroll-to-top">
        <div class="btn btn-main shadow">
          <i class="fa-solid fa-arrow-up"></i>
        </div>
      </div>
      <!-- button add gallery -->
      <div id="add-gallery-fixed">
        <div
          class="btn btn-main shadow"
          data-bs-toggle="modal"
          data-bs-target="#modalAddPhoto"
        >
          <i class="fa-solid fa-plus"></i>
          <span class="text">Tambah Foto</span>
        </div>
      </div>
    </div>

    <!-- offcanvas navbar mobile -->
    <div
      class="offcanvas offcanvas-top offcanvas-custom"
      tabindex="-1"
      id="offcanvasTop"
      aria-labelledby="offcanvasTopLabel"
    >
      <div class="offcanvas-header">
        <a
          id="offcanvasTopLabel"
          class="navbar-brand-mobile"
          href="../../index.html"
          ><img
            src="../../assets/svg/warga-letter-logo.svg"
            alt="warga-letter-icon"
            class="h-100"
        /></a>
        <button
          type="button"
          class="btn-close text-sm"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="list-nav-link">
          <li class="w-100">
            <a
              class="w-100 d-block mb-1 py-2 nav-collapse d-flex justify-content-between align-items-center"
              data-bs-toggle="collapse"
              href="#collapseExample"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              Warga
              <i class="fa-solid fa-angle-down text-sm"></i>
            </a>
            <div
              class="collapse"
              id="collapseExample"
            >
              <div class="">
                <ul class="list-nav-collapse">
                  <li class="list-nav-collapse-item">
                    <a href="../administration/administration.html"
                      >Administrasi</a
                    >
                  </li>
                  <li class="list-nav-collapse-item">
                    <a href="../report/report.html">Pelaporan</a>
                  </li>
                  <li class="list-nav-collapse-item">
                    <a href="../family/family.html">Menu Keluarga</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="list-nav-link-item">
            <a
              href="./gallery.html"
              class="active"
              >Galeri</a
            >
          </li>
          <li class="list-nav-link-item">
            <a
              href="../news/news.html"
              class=""
              >Pengumuman</a
            >
          </li>
        </ul>
        <a
          href="../auth/signin.html"
          class="btn btn-main w-100 shadow"
          >Masuk</a
        >
      </div>
    </div>

    <!-- modal add gallery -->
    <div
      class="modal fade"
      id="modalAddPhoto"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="modalAddPhotoLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <form
          id="formAddPhoto"
          class="modal-content"
          enctype="multipart/form-data"
          action="#"
        >
          <div class="modal-header">
            <h1
              class="modal-title fs-5"
              id="modalAddPhotoLabel"
            >
              Form Tambah Foto Galeri
            </h1>
            <button
              type="button"
              class="btn-close text-sm shadow-none"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- foto -->
            <div class="mb-3">
              <label
                for="foto"
                class="form-label forms-label"
                >Foto</label
              >
              <input
                id="foto"
                name="foto"
                type="file"
                class="filepond"
                multiple
                data-allow-reorder="true"
                data-max-file-size="3MB"
                data-max-files="5"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-main-sm"
              id="formAddPhotoBtn"
            >
              Tambah
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- scripts -->
    <!-- jquery -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
      integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- jquery validate -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
      integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <!-- bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
      crossorigin="anonymous"
    ></script>
    <!-- fontawesome -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"
      integrity="sha512-2bMhOkE/ACz21dJT8zBOMgMecNxx0d37NND803ExktKiKdSzdwn+L7i9fdccw/3V06gM/DBWKbYmQvKMdAA9Nw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- datatables -->
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"
    ></script>
    <!-- fancybox -->
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <!-- Load FilePond library -->
    <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
    <script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>
    <!-- custom -->
    <script src="../../assets/js/scripts.js"></script>

    <!-- script internal -->
    <script>
      //   onclick back to previous page
      function goBack() {
        window.history.back();
      }

      // plugin for filepond
      FilePond.registerPlugin(
        FilePondPluginImagePreview,
        FilePondPluginFileValidateSize
      );
      // filepond options
      FilePond.setOptions({
        server: {
          url: '/',
          process: {
            method: 'POST',
            withCredentials: false,
            headers: {},
            timeout: 7000,
            onload: null,
            onerror: null,
            ondata: null,
          },
        },
        maxFileSize: '3MB',
        required: true,
        allowMultiple: true,
        labelIdle:
          'Drag & drop foto anda atau <span class="filepond--label-action">jelajahi</span>',
        labelFileProcessing: 'Sedang diproses...',
        labelFileProcessingComplete: 'Proses selesai',
        labelFileProcessingAborted: 'Proses dibatalkan',
        labelFileProcessingError: 'Kesalahan saat memproses',
        labelTapToCancel: 'Ketuk untuk membatalkan',
        labelTapToRetry: 'Ketuk untuk mencoba kembali',
        labelTapToUndo: 'Ketuk untuk membatalkan',
        labelButtonRemoveItem: 'Hapus',
        labelButtonAbortItemLoad: 'Batal',
        labelButtonRetryItemLoad: 'Coba Lagi',
        labelButtonAbortItemProcessing: 'Batal',
        labelButtonUndoItemProcessing: 'Kembali',
        labelButtonRetryItemProcessing: 'Coba Lagi',
        labelButtonProcessItem: 'Proses',
        labelMaxFileSizeExceeded: 'Ukuran berkas melebihi batas maksimum',
        labelMaxFileSize: 'Ukuran berkas maksimum',
        labelMaxTotalFileSizeExceeded:
          'Total ukuran berkas melebihi batas maksimum',
        labelMaxTotalFileSize: 'Total ukuran berkas maksimum',
        labelFileTypeNotAllowed: 'Jenis berkas tidak diizinkan',
        labelFileCountSingular: 'berkas dalam daftar',
        labelFileCountPlural: 'berkas dalam daftar',
        labelUploadError: 'Kesalahan saat mengunggah',
        labelUploadComplete: 'Pengunggahan selesai',
        labelUploadRetry: 'Coba Lagi',
        labelUploadUndo: 'Batalkan',
        labelButtonProcess: 'Proses',
      });
      FilePond.parse(document.body);

      const options = {
        Thumbs: {
          type: 'classic',
        },
        caption: function (fancybox, slide) {
          const figurecaption = slide.triggerEl?.querySelector('figcaption');
          return figurecaption ? figurecaption.innerHTML : slide.caption || '';
        },
        Carousel: {
          Navigation: false,
        },
        Toolbar: {
          display: {
            left: [],
            middle: ['prev', 'infobar', 'next'],
            right: ['slideshow', 'thumbs', 'close'],
          },
        },
        transitionEffect: 'classic',
      };

      Fancybox.bind('[data-fancybox="gallery-large"]', options);
    </script>
  </body>
</html>
