/* TEXT */
.text-nowrap {
  white-space: nowrap !important;
}
.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* MARGIN */
.mr-6 {
  margin-right: 6px !important;
}

/* FORM */
#formAddKeluarga #agree-error {
  margin-top: 0;
  margin-left: 27px;
}

@media screen and (max-width: 1199px) {
  .form-group label#customAgreeLabel {
    white-space: normal !important;
  }
}

/* ADMINISTRATION */
.file-pdf-info {
  margin-bottom: 12px;
}
.file-pdf-info img {
  height: 64px;
}
.line-clamp-max-w-320 {
  max-width: 320px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/* GALLERY */
.img-empty-state {
  width: 120px;
  object-fit: cover;
  object-position: center;
}
.img-foto {
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: center;
}

small span.badge.badge-gray {
  padding: 3px 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #f0f2f4;
}

.dropdown-option {
  position: absolute;
  top: 14px;
  right: 14px;
  z-index: 989;
}
.delete-option {
  position: absolute;
  top: 14px;
  right: 28px;
  z-index: 989;
}
.dropdown-option .btn-group .btn {
  padding: 2px 8px !important;
}
.dropdown-option .btn-group .btn::after {
  display: none;
}
.dropdown-item.delete-btn {
  cursor: pointer;
}
.dropdown-item.delete-btn:hover {
  background-color: #f8d7da;
  color: #c51e2e;
}
.delete-option .btn {
  padding: 2px 8px !important;
}
