/* COMPONENTS */
/* button */
.btn-main {
  background-color: var(--primary-500);
  color: #fff;
  border: none;
  border-radius: 9px;
  padding: 10px 20px;
  font-weight: 600;
  transition: var(--transition-all-300);
  -webkit-transition: var(--transition-all-300);
  -moz-transition: var(--transition-all-300);
  -ms-transition: var(--transition-all-300);
  -o-transition: var(--transition-all-300);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}
.btn-main-sm {
  background-color: var(--primary-500);
  color: #fff;
  border: none;
  border-radius: 0.375rem;
  padding: 0.625rem 1rem;
  font-weight: 600;
  font-size: 0.875rem;
  transition: var(--transition-all-300);
  -webkit-transition: var(--transition-all-300);
  -moz-transition: var(--transition-all-300);
  -ms-transition: var(--transition-all-300);
  -o-transition: var(--transition-all-300);
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
}
.btn-logout-sm {
  background-color: var(--danger-500);
  color: #fff;
  border: none;
  padding: 0.625rem 1rem;
  font-weight: 600;
  font-size: 0.875rem;
  -webkit-transition: var(--transition-all-300);
  -moz-transition: var(--transition-all-300);
  -ms-transition: var(--transition-all-300);
  -o-transition: var(--transition-all-300);
  transition: var(--transition-all-300);
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
  border-radius: 0.375rem;
}
.btn-main-xs {
  background-color: var(--primary-500);
  color: #fff;
  border: none;
  padding: 0.625rem 1rem;
  font-weight: 600;
  font-size: 0.75rem;
  -webkit-transition: var(--transition-all-300);
  -moz-transition: var(--transition-all-300);
  -ms-transition: var(--transition-all-300);
  -o-transition: var(--transition-all-300);
  transition: var(--transition-all-300);
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
  border-radius: 0.375rem;
}
.btn-white {
  background-color: #fff;
  color: var(--primary-700);
  border: none;
  padding: 10px 20px;
  font-weight: 600;
  -webkit-transition: var(--transition-all-300);
  -moz-transition: var(--transition-all-300);
  -ms-transition: var(--transition-all-300);
  -o-transition: var(--transition-all-300);
  transition: var(--transition-all-300);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
}
.btn-secondaries {
  background-color: var(--secondary-500);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-weight: 600;
  -webkit-transition: var(--transition-all-300);
  -moz-transition: var(--transition-all-300);
  -ms-transition: var(--transition-all-300);
  -o-transition: var(--transition-all-300);
  transition: var(--transition-all-300);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
}
.btn-secondaries-sm {
  background-color: var(--secondary-500);
  color: #fff;
  border: none;
  padding: 0.625rem 1rem;
  font-weight: 600;
  font-size: 0.875rem;
  -webkit-transition: var(--transition-all-300);
  -moz-transition: var(--transition-all-300);
  -ms-transition: var(--transition-all-300);
  -o-transition: var(--transition-all-300);
  transition: var(--transition-all-300);
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
  border-radius: 0.375rem;
}
.btn-nav-toggle {
  color: #227535 !important;
  padding: 0.5rem 0.75rem;
  outline: none !important;
  appearance: none !important;
  background: transparent;
  border: none;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
  border-radius: 0.375rem;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-anchor.logout-btn {
  background: none;
  border: none;
  text-align: left;
  margin-left: 0;
  padding-left: 0;
  display: block;
  width: 100%;
  color: #3d3d3d;
  font-weight: 500;
  -webkit-transition: transform 0.2s ease-in-out !important;
  -moz-transition: transform 0.2s ease-in-out !important;
  -ms-transition: transform 0.2s ease-in-out !important;
  -o-transition: transform 0.2s ease-in-out !important;
  transition: transform 0.2s ease-in-out !important;
}
.btn-anchor.logout-btn:hover {
  -webkit-transform: translateX(0.5rem);
  -moz-transform: translateX(0.5rem);
  -ms-transform: translateX(0.5rem);
  -o-transform: translateX(0.5rem);
  transform: translateX(0.5rem);
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  font-weight: 500;
}
.btn-main[disabled],
.btn-main-sm[disabled],
.btn-main-xs[disabled] {
  background-color: rgba(83, 195, 81, 1);
  color: #ffffff;
  cursor: not-allowed;
}
.btn-white[disabled] {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(83, 195, 81, 1);
  cursor: not-allowed;
}
.btn-secondaries[disabled],
.btn-secondaries-sm[disabled] {
  background-color: rgba(76, 104, 254, 1);
  color: #ffffff;
  cursor: not-allowed;
}
.btn-nav-toggle:hover {
  background-color: #3cb35830;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-white:hover {
  opacity: 0.8;
  color: var(--primary-700);
  background-color: #fff;
}
.btn-main:hover,
.btn-main-sm:hover,
.btn-main-xs:hover {
  background-color: var(--primary-700);
  color: #fff;
}
.btn-logout-sm:hover {
  background-color: var(--danger-700);
  color: #fff;
}
.btn-secondaries:hover,
.btn-secondaries-sm:hover {
  background-color: var(--secondary-700);
  color: #fff;
}
.btn-main:focus,
.btn-main-sm:focus,
.btn-main-xs:focus {
  background-color: var(--primary-700) !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.2) !important;
  color: #fff !important;
}
.btn-logout-sm:focus {
  background-color: var(--danger-700) !important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.2) !important;
  color: #fff !important;
}
.btn-secondaries:focus,
.btn-secondaries-sm:focus {
  background-color: var(--secondary-700) !important;
  box-shadow: 0 0 0 0.2rem rgba(56, 77, 204, 0.2) !important;
  color: #fff !important;
}
.btn-white:focus {
  background-color: #fff !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.4) !important;
  color: var(--primary-700) !important;
}
.btn-nav-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.8) !important;
  outline: none !important;
}

.btn-main-outline {
  background-color: transparent;
  color: var(--primary-500);
  border: 1px solid var(--primary-500);
  padding: 10px 20px;
  font-weight: 600;
  -webkit-transition: var(--transition-all-300);
  -moz-transition: var(--transition-all-300);
  -ms-transition: var(--transition-all-300);
  -o-transition: var(--transition-all-300);
  transition: var(--transition-all-300);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
}
.btn-main-outline-sm {
  background-color: transparent;
  color: var(--primary-500);
  border: 1px solid var(--primary-500);
  padding: 0.625rem 1rem;
  font-weight: 600;
  font-size: 0.875rem;
  -webkit-transition: var(--transition-all-300);
  -moz-transition: var(--transition-all-300);
  -ms-transition: var(--transition-all-300);
  -o-transition: var(--transition-all-300);
  transition: var(--transition-all-300);
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
  border-radius: 0.375rem;
}
.btn-secondaries-outline-sm {
  background-color: transparent;
  color: var(--secondary-500);
  border: 1px solid var(--secondary-500);
  padding: 0.625rem 1rem;
  font-weight: 600;
  font-size: 0.875rem;
  -webkit-transition: var(--transition-all-300);
  -moz-transition: var(--transition-all-300);
  -ms-transition: var(--transition-all-300);
  -o-transition: var(--transition-all-300);
  transition: var(--transition-all-300);
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
  border-radius: 0.375rem;
}
.btn-main-outline-xs {
  background-color: transparent;
  color: var(--primary-500);
  border: 1px solid var(--primary-500);
  padding: 0.375rem 0.625rem;
  font-weight: 600;
  font-size: 0.875rem;
  -webkit-transition: var(--transition-all-300);
  -moz-transition: var(--transition-all-300);
  -ms-transition: var(--transition-all-300);
  -o-transition: var(--transition-all-300);
  transition: var(--transition-all-300);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.btn-secondary-outline-xs {
  background-color: transparent;
  color: var(--secondary-500);
  border: 1px solid var(--secondary-500);
  padding: 0.375rem 0.625rem;
  font-weight: 600;
  font-size: 0.875rem;
  -webkit-transition: var(--transition-all-300);
  -moz-transition: var(--transition-all-300);
  -ms-transition: var(--transition-all-300);
  -o-transition: var(--transition-all-300);
  transition: var(--transition-all-300);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.btn-danger-outline-xs {
  background-color: transparent;
  color: var(--danger-500);
  border: 1px solid var(--danger-500);
  padding: 0.375rem 0.625rem;
  font-weight: 600;
  font-size: 0.875rem;
  -webkit-transition: var(--transition-all-300);
  -moz-transition: var(--transition-all-300);
  -ms-transition: var(--transition-all-300);
  -o-transition: var(--transition-all-300);
  transition: var(--transition-all-300);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.btn-main-outline:hover,
.btn-main-outline-sm:hover,
.btn-main-outline-xs:hover {
  border: 1px solid var(--primary-500);
  background-color: rgba(83, 195, 81, 0.1);
  color: var(--primary-500);
}
.btn-secondary-outline-xs:hover {
  border: 1px solid var(--secondary-500);
  background-color: rgba(108, 117, 125, 0.1);
  color: var(--secondary-500);
}
.btn-danger-outline-xs:hover {
  border: 1px solid var(--danger-500);
  background-color: rgba(220, 53, 69, 0.1);
  color: var(--danger-500);
}
.btn-main-outline:focus,
.btn-main-outline-sm:focus,
.btn-main-outline-xs:focus {
  background-color: var(--primary-500) !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.2) !important;
  color: #fff !important;
}
.btn-secondary-outline-xs:focus {
  background-color: var(--secondary-500) !important;
  box-shadow: 0 0 0 0.2rem rgba(56, 77, 204, 0.2) !important;
  color: #fff !important;
}
.btn-secondaries-outline-sm:hover {
  border: 1px solid var(--secondary-500);
  background-color: rgba(108, 117, 125, 0.1);
  color: var(--secondary-500);
}
.btn-secondaries-outline-sm:focus {
  background-color: var(--secondary-500) !important;
  box-shadow: 0 0 0 0.2rem rgba(56, 77, 204, 0.2) !important;
  color: #fff !important;
}
.btn-danger-outline-xs:focus {
  background-color: var(--danger-500) !important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.2) !important;
  color: #fff !important;
}
.btn-danger-outline-xs:hover {
  border: 1px solid var(--danger-500);
  background-color: rgba(220, 53, 69, 0.1);
  color: var(--danger-500);
}

/* form */
.form-control.input-control {
  padding: 0.5rem 0.875rem;
  border-color: #d5d5d5;
}
.form-control.input-control-sm {
  padding: 0.5rem 0.875rem;
  font-size: 0.75rem;
  border-color: #d5d5d5;
}
select.form-select.select-control {
  padding: 0.5rem 0.875rem;
  border-color: #d5d5d5;
}
select.form-select.select-control-sm {
  padding: 0.5rem 0.875rem;
  font-size: 0.75rem;
  border-color: #d5d5d5;
}
.form-control.input-control-password {
  padding: 0.5rem 2.75rem 0.5rem 0.875rem;
  border-color: #d5d5d5;
}
.form-control.input-control::placeholder,
.form-control.input-control-password::placeholder,
select.form-select.select-control::placeholder,
.form-control.input-control-sm::placeholder,
select.form-select.select-control-sm::placeholder {
  color: #a6a6a6;
}
.form-control.input-control:focus,
.form-control.input-control-password:focus,
select.form-select.select-control:focus,
.form-control.input-control-sm:focus,
select.form-select.select-control-sm:focus {
  border-color: #3cb357;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.15);
}
.form-check-input:checked {
  background-color: var(--primary-500);
  border-color: var(--primary-500);
}
.form-control.input-control.error,
.form-control.input-control-password.error,
select.form-select.select-control.error,
.form-control.input-control-sm.error,
select.form-select.select-control-sm.error {
  border-color: #dc3545;
}
.form-control.input-control.error:focus,
.form-control.input-control-password.error:focus,
select.form-select.select-control.error:focus,
.form-control.input-control-sm.error:focus,
select.form-select.select-control-sm.error:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.15);
}
.form-label.forms-label {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.375rem;
  color: #303030;
}
.form-check-label.forms-check-label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #303030;
}
label.error {
  color: #dc3545;
  font-size: 0.8125rem;
  font-weight: 400;
  margin-top: 0.25rem;
}
.form-text.input-text {
  font-size: 0.8125rem;
  color: rgb(86, 86, 86);
}

/* card */
.sign-card {
  background-color: var(--primary-100);
  padding: 2rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.01);
  border-radius: 0.75rem;
}

/* icons */
#togglePassword,
#togglePasswordLama,
#togglePasswordBaru,
#toggleKonfirmasiPasswordBaru {
  position: absolute;
  right: 1rem;
  top: 39px;
  cursor: pointer;
}
#togglePassword svg,
#togglePasswordLama svg,
#togglePasswordBaru svg,
#toggleKonfirmasiPasswordBaru svg {
  z-index: 99;
  color: rgb(132, 132, 132) !important;
  font-size: 1rem;
}

/* LAYOUTS */
/* container */
.header-container {
  margin: 16.25rem 0 5rem;
}
.header-container-back {
  margin-top: 7rem;
  margin-bottom: 1rem;
}
.container-space {
  padding: 4rem 0;
}
.container-space-top {
  padding: 3rem 0 4rem;
}
.sign-container-content-big {
  padding: 10rem 2rem 7rem;
}
.sign-container-content-small {
  padding: 8rem 2rem 7rem;
}
.sign-container-content__card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign_card__content {
  width: 100%;
  max-width: 30rem;
}
.sign_card__content .w-90 {
  margin: 0 auto;
}
.card-table-container {
  width: 100%;
  padding: 0.625rem 0.5rem 1.25rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
  border-radius: 0.75rem;
}
.card-form-container {
  width: 100%;
  padding: 0;
  border: 1px solid #e0e0e0 !important;
  -webkit-border-radius: 0.5rem !important;
  -moz-border-radius: 0.5rem !important;
  -ms-border-radius: 0.5rem !important;
  -o-border-radius: 0.5rem !important;
  border-radius: 0.5rem !important;
}
.card-form-header {
  padding: 0.875rem 1.5rem !important;
  border-bottom: 1px solid #e0e0e0 !important;
}
.card-form-body {
  padding: 0.875rem 1.5rem !important;
}
.card-form-footer {
  padding: 0.25rem 1.5rem 0.875rem !important;
  background: transparent;
  border: none !important;
}

/* navigation */
nav.navbar-shadow {
  z-index: 999;
  box-shadow: 0 0.125rem 1.5rem rgba(0, 0, 0, 0.075);
}
.navbar-container {
  padding: 1rem 3rem;
}
.navbar.navbar-blur {
  background: transparent;
}
.navbar-container .navbar-brand {
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
  margin-right: 3.5rem;
}
.navbar-container .navbar-brand img {
  height: 2.25rem;
}
.nav-link.navbar-link {
  padding: 0.5rem 1rem !important;
}
.nav-item .nav-link.navbar-link {
  font-size: 0.875rem;
  font-weight: 600;
  color: rgb(140, 140, 140);
  -webkit-transition: var(--transition-all-300);
  -moz-transition: var(--transition-all-300);
  -ms-transition: var(--transition-all-300);
  -o-transition: var(--transition-all-300);
  transition: var(--transition-all-300);
}
.nav-item .nav-link.navbar-link:hover {
  color: var(--primary-500);
}
.nav-item .nav-link.navbar-link.active {
  color: var(--primary-500);
}
.dropdown-menu.nav-dropdown-menu {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0.25rem;
}
.dropdown-item.nav-dropdown-item {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 3px;
}
.dropdown-item.nav-dropdown-item.active {
  background-color: rgba(83, 195, 81, 0.2);
  color: rgb(45, 45, 45) !important;
}
.dropdown-item.nav-dropdown-item:hover {
  background-color: rgba(83, 195, 81, 0.1);
  color: rgb(30, 30, 30);
}
.dropdown-item.nav-dropdown-item:visited,
.dropdown-item.nav-dropdown-item:active {
  background-color: rgba(83, 195, 81, 0.1) !important;
  color: rgb(30, 30, 30);
}
.dropdown-item.nav-dropdown-item span {
  font-size: 1rem;
  width: 1.75rem;
  height: 1.75rem;
  background: var(--primary-500);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
  border-radius: 0.375rem;
  margin-right: 0.75rem;
}
.dropdown-item.nav-dropdown-item span svg {
  font-size: 1rem;
  color: #fff;
  fill: #fff;
}
.toggle-nav-mobile {
  display: none;
  align-items: center;
}
.navbar-brand-mobile {
  height: 2.25rem;
}
.nav-mobile-profile {
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  margin: 0 0.5rem 0 0;
}
.nav-mobile-profile-img {
  width: 100%;
  height: 100%;
}

/* header */
.header-container-mini {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 0 0;
  flex-direction: column;
}
.header-container-dashboard {
  margin-top: 4rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 4rem 0 1rem;
}
.header-container-dashboard-form {
  margin-top: 3rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 4rem 0 1rem;
}
.header-container-news {
  margin-top: 7rem;
  margin-bottom: 2rem;
}
.related-news-container {
  display: flex;
  flex-direction: column;
}
.related-news-container a {
  margin-bottom: 1.75rem;
}
.empty-container {
  width: 100%;
  height: 55vh;
  min-height: 400px;
}

/* table */
.heading-table tr th {
  font-size: 0.75rem;
}
.body-table tr td {
  font-size: 0.875rem;
}

/* footer */
footer hr {
  border-top: 1px solid rgba(0, 0, 0, 0.6);
}
.big-footer {
  background: rgba(83, 195, 81, 0.1);
  padding: 4rem 0 1rem;
}
.small-footer {
  background: rgba(83, 195, 81, 0.1);
  padding: 1rem 0;
}
.small-footer p {
  font-size: 0.875rem;
}
.footer-container-top {
  margin-bottom: 4rem;
}
.footer-top__left {
  max-width: 28rem;
}
.footer-floor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.footer-floor > p {
  font-size: 0.875rem;
  color: rgb(132, 132, 132);
  margin-bottom: 0;
}
.footer-social-media {
  display: flex;
  align-items: center;
}
.footer-social-media a {
  display: block;
  margin-right: 1rem;
  color: rgb(132, 132, 132);
}
.footer-social-media a:last-child {
  margin-right: 0;
}
.footer-social-media a:hover {
  color: rgb(83, 195, 81);
}
.footer-social-media a svg {
  font-size: 1.25rem;
}
.footer-logo-link {
  display: block;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.footer-logo-link:hover {
  -webkit-transform: translateX(0.625rem);
  -moz-transform: translateX(0.625rem);
  -ms-transform: translateX(0.625rem);
  -o-transform: translateX(0.625rem);
  transform: translateX(0.625rem);
}
.footer-logo-wrapper {
  height: 2.5rem;
}
.footer-logo-link img {
  height: 100%;
}
.footer-menu-link {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 2rem;
}
.footer-menu-wrapper ul li {
  margin-bottom: 0.375rem;
}
.footer-menu-wrapper .footer-menu__header {
  font-weight: 700;
  margin-bottom: 0.625rem;
}
.footer-menu-wrapper ul li a {
  color: rgb(106, 106, 106);
  -webkit-transition: var(--transition-all-300);
  -moz-transition: var(--transition-all-300);
  -ms-transition: var(--transition-all-300);
  -o-transition: var(--transition-all-300);
  transition: var(--transition-all-300);
}
.footer-menu-wrapper ul li a:hover {
  color: rgb(21, 21, 21);
}

/* others */
#scroll-to-top .btn.btn-main {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.75rem;
  height: 2.75rem;
  background: rgb(83, 195, 81);
  color: #fff;
  cursor: pointer;
  -webkit-transition: var(--transition-all-300);
  -moz-transition: var(--transition-all-300);
  -ms-transition: var(--transition-all-300);
  -o-transition: var(--transition-all-300);
  transition: var(--transition-all-300);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
}
#add-gallery-fixed .btn.btn-main {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.75rem;
  height: 2.75rem;
  background: var(--secondary-500);
  color: #fff;
  cursor: pointer;
  -webkit-transition: var(--transition-all-300);
  -moz-transition: var(--transition-all-300);
  -ms-transition: var(--transition-all-300);
  -o-transition: var(--transition-all-300);
  transition: var(--transition-all-300);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
}
#add-gallery-fixed .btn.btn-main .text {
  display: none;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  pointer-events: none;
  white-space: nowrap;
  font-size: 0.875rem;
}
#add-gallery-fixed.down .btn.btn-main {
  opacity: 1;
  pointer-events: auto;
  z-index: 999;
  visibility: visible;
  bottom: 3rem;
  right: 3rem;
}
#add-gallery-fixed.top .btn.btn-main {
  opacity: 1;
  pointer-events: auto;
  z-index: 999;
  visibility: visible;
  bottom: 7.5rem;
  right: 3rem;
}
#scroll-to-top .btn.btn-main:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
#add-gallery-fixed .btn.btn-main:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  width: 160px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  border-radius: 999px;
}
#add-gallery-fixed .btn.btn-main:hover svg {
  margin-right: 0.5rem;
}
#add-gallery-fixed .btn.btn-main:hover .text {
  display: block;
  opacity: 1;
  visibility: visible;
  z-index: 1;
  pointer-events: auto;
}
#scroll-to-top .btn.btn-main:active,
#add-gallery-fixed .btn.btn-main:active {
  -webkit-transform: scale(0.9) !important;
  -moz-transform: scale(0.9) !important;
  -ms-transform: scale(0.9) !important;
  -o-transform: scale(0.9) !important;
  transform: scale(0.9) !important;
}

.navbar-toggler.navbar-toggling {
  padding: 0;
  border: none;
}

/* accordion */
.accordion-btn {
  padding: 0.75rem 0 0.5rem;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  border-radius: 0px !important;
  align-items: baseline;
  background: transparent !important;
}
.accordion-btn.collapsed {
  background: transparent;
}
.accordion-btn::after {
  content: none;
  display: none;
}
.accordion-box {
  border: none;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  border-radius: 0px !important;
}
.accordion-text {
  padding: 0.5rem 0;
  display: flex;
  align-items: baseline;
}
.pills-tab {
  border: 1px solid #e0e0e0 !important;
  padding: 1rem 0;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.piils-btn {
  color: #171717;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  border-radius: 0px !important;
  text-align: left;
  border-left: 3px solid transparent !important;
}
.piils-btn.active {
  color: var(--primary-700) !important;
  background-color: rgba(83, 195, 81, 0.2) !important;
  font-weight: 600;
  border-left: 0.2rem solid var(--primary-700) !important;
}
.piils-btn:hover {
  color: #171717;
  background-color: rgba(83, 195, 81, 0.1) !important;
  border-left: 0.2rem solid transparent !important;
}
.piils-btn.active:hover {
  color: var(--primary-700) !important;
  border-left: 0.2rem solid var(--primary-700) !important;
}
.pills-content-card {
  border: 1px solid #e0e0e0 !important;
  padding: 1.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.pills-content-card > h4 {
  color: #1e1e1e;
}

.help-describe {
  padding: 3px 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #f0f2f4;
}
