/* background */
.bg-main-500 {
  background-color: var(--primary-500);
}
.bg-main-700 {
  background-color: var(--primary-700);
}
.bg-main-500__50 {
  background-color: rgba(83, 195, 81, 0.5);
}
.bg-main-500__05 {
  background-color: rgba(83, 195, 81, 0.07);
}
.bg-secondary-500__05 {
  background-color: rgba(76, 104, 254, 0.07);
}

/* hover */
.hover-underline:hover {
  text-decoration: underline;
}

/* typography */
.text-basic {
  font-weight: 400;
  line-height: 1.5;
  color: rgb(106, 106, 106);
}
.text-xl {
  font-size: 1.25rem;
}
.text-lg {
  font-size: 1.125rem;
}
.text-base {
  font-size: 1rem;
}
.text-sm {
  font-size: 0.875rem;
}
.text-xs {
  font-size: 0.75rem;
}
.text-main-700 {
  color: var(--primary-700);
}
.text-gray {
  color: rgba(89, 89, 89, 1);
}
.text-gray-200 {
  color: rgb(186, 186, 186);
}
.text-secondaries {
  color: rgb(76, 104, 254);
}
.text-important {
  color: #dc3545;
  font-weight: 600;
}
.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

svg.fill-main-700,
.fill-main-700 path {
  color: var(--primary-700) !important;
  fill: var(--primary-700) !important;
}

svg.fill-dark,
.fill-dark path {
  color: rgba(0, 0, 0, 1);
  fill: rgba(0, 0, 0, 1);
}

svg.fill-gray,
.fill-gray path {
  color: rgba(89, 89, 89, 1);
  fill: rgba(89, 89, 89, 1);
}

/* spacing */
.w-full-sm {
  width: auto;
}
.w-full-md {
  width: auto;
}
.w-full-xl {
  width: auto;
}
.max-w-80 {
  width: 80%;
  max-width: 80%;
}

/* margin */
.mb-8 {
  margin-bottom: 2rem;
}
.pb-100vh-420 {
  padding-bottom: calc(100vh - 580px) !important;
}
