/* background */
.bg-main-500 {
  background-color: var(--primary-500);
}
.bg-main-700 {
  background-color: var(--primary-700);
}
.bg-main-500__50 {
  background-color: rgba(83, 195, 81, 0.5);
}
.bg-main-500__05 {
  background-color: rgba(83, 195, 81, 0.07);
}
.bg-secondary-500__05 {
  background-color: rgba(76, 104, 254, 0.07);
}

/* hover */
.hover-underline:hover {
  text-decoration: underline;
}

/* typography */
.text-basic {
  font-weight: 400;
  line-height: 1.5;
  color: rgb(106, 106, 106);
}
.text-xl {
  font-size: 1.25rem;
}
.text-lg {
  font-size: 1.125rem;
}
.text-base {
  font-size: 1rem;
}
.text-sm {
  font-size: 0.875rem;
}
.text-xs {
  font-size: 0.75rem;
}
.text-main-700 {
  color: var(--primary-700);
}
.text-gray {
  color: rgba(89, 89, 89, 1);
}
.text-gray-200 {
  color: rgb(186, 186, 186);
}
.text-secondaries {
  color: rgb(76, 104, 254);
}
.text-important {
  color: #dc3545;
  font-weight: 600;
}
.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

svg.fill-main-700,
.fill-main-700 path {
  color: var(--primary-700) !important;
  fill: var(--primary-700) !important;
}

svg.fill-dark,
.fill-dark path {
  color: rgba(0, 0, 0, 1);
  fill: rgba(0, 0, 0, 1);
}

svg.fill-gray,
.fill-gray path {
  color: rgba(89, 89, 89, 1);
  fill: rgba(89, 89, 89, 1);
}

/* spacing */
.w-full-sm {
  width: auto;
}
.w-full-md {
  width: auto;
}
.w-full-xl {
  width: auto;
}
.max-w-80 {
  width: 80%;
  max-width: 80%;
}

/* margin */
.mr-6 {
  margin-right: 6px !important;
}
.mb-8 {
  margin-bottom: 2rem;
}
.pb-100vh-420 {
  padding-bottom: calc(100vh - 580px) !important;
}

/* grid system */
.gap-y-10 {
  gap: 2.5rem 0;
}
.gap-y-8 {
  gap: 2rem 0;
}
.gap-y-6 {
  gap: 1.5rem 0;
}
.gap-y-4 {
  gap: 1rem 0;
}
.gap-y-2 {
  gap: 0.5rem 0;
}

.col-span-full {
  grid-column: 1 / -1;
}

/* animation */
.spinners {
  animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
}
.spinners-2 {
  animation: spin 0.75s infinite linear;
  -webkit-animation: spin 0.75s infinite linear;
}
.spinners-3 {
  animation: spin 0.6s infinite linear;
  -webkit-animation: spin 0.6s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes float1 {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  50% {
    transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
@keyframes float2 {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  50% {
    transform: translateY(-45px);
    -webkit-transform: translateY(-45px);
    -moz-transform: translateY(-45px);
    -ms-transform: translateY(-45px);
    -o-transform: translateY(-45px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
